.safeViewportContainer {
  height: calc(var(--safe-viewport-vh, 1vh) * 100);
  position: relative;
}

.makeScrollable {
  position: absolute;
  left: 0;
  width: 1px;
  height: calc(100% + 1px);
}

.safeViewportContent {
  height: 100%;
  overflow-y: auto;
}
